[*]
end_of_line = lf
insert_final_newline = true
indent_style = space
trim_trailing_whitespace = true
charset = utf-8

[{CMakeLists.txt,*.cmake}]
indent_size = 4

[*.{glsl,vert,comp,frag,geom}]
indent_size = 4

[*.{h,hpp,c,cpp,cxx,hxx}]
indent_size = 2
